<div class="page-wrapper bg1 vc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <br>
                <h1>Online staging area to facilitate cloud based data re-analysis and submissions</h1>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="media">
                            <i class="fa fa-3x fa-database text-primary"></i>
                          &emsp;
                          <div class="media-body">
                            <h5 class="mt-0">Online staging</h5>
                            <p>Secure and backup</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="media">
                          <i class="fa fa-3x fa-file text-primary"></i>&emsp;
                          <div class="media-body">
                            <h5 class="mt-0">File format conversions</h5>
                            <p>Open/Standard formats to ISA</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-5">
                        <div class="media">
                          <i class="fa fa-3x fa-binoculars text-primary"></i>&emsp;
                          <div class="media-body">
                            <h5 class="mt-0">Data analysis/re-analysis</h5>
                            <p>Galaxy workflows integration</p>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="media">
                          <i class="fa fa-3x fa-upload text-primary"></i>&emsp;
                          <div class="media-body">
                            <h5 class="mt-0">Submit your data</h5>
                            <p>MetaboLights Study submissions</p>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- <small class="text-muted">
                    PROJECTS
                </small><br><br>
                <img src="assets/img/metaboflow.png" height="50" alt="">
                <br><br> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card card-container"><br>
                    <img id="profile-img" class="profile-img-card" src="assets/img/user.png" /><br>
                    <h4 class="text-md-center"><img height="30" src="assets/img/logo.png" />&nbsp;MetaboLights Labs <sup class="text-danger"><small>BETA</small></sup></h4>
                    <form class="form-signin" role="form" (submit)="login($event, email.value, secret.value)">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" #email class="form-control" id="useremail" placeholder="Email address">
                        <input type="password" #secret class="form-control" id="password" placeholder="Password">
                        <button class="btn btn-primary" type="submit">Sign in</button>
                    </form>
                </div>
                <div class="clearfix">
                   &nbsp;
                </div>
                 <p class="text-center">Not Registered Yet? <a target="_blank" href="http://wwwdev.ebi.ac.uk/metabolights/newAccount">Register here</a></p>
            </div>
        </div>
    </div>
</div>